.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.container-left {
    width: 60%;
    margin-right: 20px; /* Add spacing between containers */
}

.container-right {
    width: 30%;
    margin-left: 20px; /* Add spacing between containers */
    background-color: #ffffff;
    color: #325D79;
    font-size: 1.6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; 
    display: flex;
    flex-wrap: wrap;
}
.order-item {
    flex: 0 0 calc(33.33% - 20px); /* Each order item takes up one-third of the container's width with some margin */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .order-item h6{
    margin-top: 0;
  }
  
  .order-item img {
    max-width: 70px; /* Set a maximum width for the images */
    max-height:70px; /* Set a maximum height for the images */
    height: auto;
}

.page__content {
    border-radius: 10px;
    background-color: #ffffff;
    color: #325D79;
    font-size: 1.6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.page__content table {
    width: 100%;
    border-collapse: collapse;
}

.page__content th,
.page__content td {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 8px;
    text-align: left;
}

.page__content th {
    background-color: #325D79;
    color: #ffffff;
}

.page__content tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.page__content td:first-child {
    border-left: none;
}

.page__content td:last-child {
    border-right: none;
}

.button-container {
    text-align: right;
    margin-top: 1rem;
}

.button-container button {
    padding: 10px 20px;
    background-color: #325D79;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #d2871e;
}
