<div class="container">
    <div class="product">
      <img src="image1.jpg" alt="Product 1">
      <div class="product-details">
        <p class="name">Product Name 1</p>
        <p class="price">$100</p>
      </div>
    </div>
    <div class="product">
      <img src="image2.jpg" alt="Product 2">
      <div class="product-details">
        <p class="name">Product Name 2</p>
        <p class="price">$150</p>
      </div>
    </div>
    <div *ngIf="responseProducts">
      <h1>Data from Flask API:</h1>
      <p>{{ responseProducts.message }}</p>
    </div>
  </div>
  