<div class="container">
    <div class="notification">
      <div class="notification-details">
        <p class="name">Newest Arrivals !!</p>
        <p class="description">Check our latest products</p>
      </div>
    </div>
    <div class="notification">
      <div class="notification-details">
        <p class="name">Reminder</p>
        <p class="description">Don't forget to buy your medication </p>
      </div>
    </div>
    <div class="notification">
      <div class="notification-details">
        <p class="name">Order</p>
        <p class="description"> Great news about your latest order, it is being shipped </p>
      </div>
    </div>
  </div>
  