mat-toolbar{
    position: sticky;
    top:0;
    z-index :100;
    background:  #325D79;
    color:white
}
ul{
    li{
        list-style:none;
    }
}
button{
    border:0;
    outline:none;
    background: transparent;
}
.user{
    font-size: 14px;
    position: fixed; 
    top: 20px; 
    right: 20px;

}

::ng-deep{
    .mat-menu-content{
        width : 160px;
    }
}
.mat-icon-button{
    background-color: aliceblue;
}