<footer>
    <div class="newsletter">
        <h2>
            <span>Join our newsletter</span>
        </h2>
        <form action="?">
            <input type="email" placeholder="Enter your email ">
            <button type="submit">Subscribe</button>
        </form>
        <ul class="social-icons">
            <li>
                <a class="" href="http://"></a>"
            </li>
            <li>
                <a class="" href="http://"></a>"
            </li>
            <li>
                <a class=""  href="http://"></a>"
            </li>
            <li>
                <a class="" href="http://"></a>"
            </li>
        </ul>
    </div>
    <div class="main">
        <img src="../../assets/mnm.png" alt="The mnm company logo">
        <div class="links">
            <h6>XXXX</h6>
            <ul>
                <li>
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li>
                    <a>4</a>
                </li>
            </ul>
        </div>
        <div class="links">
            <h6>XXXX</h6>
            <ul>
                <li>
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li>
                    <a>4</a>
                </li>
            </ul>
        </div>
        <div class="links">
            <h6>XXXX</h6>
            <ul>
                <li>
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li>
                    <a>4</a>
                </li>
            </ul>
        </div>
        <div class="links">
            <h6>XXXX</h6>
            <ul>
                <li>
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li>
                    <a>4</a>
                </li>
            </ul>
        </div>
    </div>
</footer>