<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<footer>
    <div class="newsletter">
        <h2>
            <span>Join our newsletter</span>
        </h2>
        <form action="?">
            <input type="email" placeholder="Enter your email ">
            <button type="submit">Subscribe</button>
        </form>
        <ul class="social-icons">
            <li> 
                <a class="fab fa-facebook" href="http://"></a>
            </li>
            <li>
                <a class="fab fa-instagram" href="http://"></a>
            </li>
            <li>
                <a class="fab fa-linkedin"  href="http://"></a>
            </li>
        </ul>
    </div>
    <div class="main">
        <img src="../../assets/mnm.png" alt="The mnm company logo">
        <div class="links">
            <h6>Helps</h6>
            <ul>
                <li>
                    <a>Contact</a>
                </li>
                <li>
                    <a>FAQs</a>
                </li>
                <li>
                    <a>Terms & Conditions</a>
                </li>
                <li>
                    <a>Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="links">
            <h6>Company Info</h6>
            <ul>
                <li>
                    <a>About us</a>
                </li>
                <li>
                    <a>+216 71 000 000</a>
                </li>
                <li>
                    <a>pcdensimnm&#64;gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</footer>