body {
    margin: 0; /* Remove default margin */
    background-color: white; /* Set background color for the entire page */
  }
.container-fluid.page {
    color: white;
    padding: 0 1rem; /* Adjusted padding */
    display: flex;
    flex-direction: column; /* Added */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: calc(100vh - px); /* Subtracting the height of the toolbar */
    margin-top: 64px; /* Added */
    background-color: aliceblue;
  
    &__box {
      min-height: 120px;
      margin: 0 1rem; /* Adjusted margin */
      font-size: 36px;
    }
  
    &__content {
      min-height: calc(100vh - 160px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white; /* Set background color for the content area */
      color: black;
      font-size: 2rem;
  
      &-data {
        position: relative; /* Added */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
}
.form-container {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin-right: 10px;
  }
  
  .column:last-child {
    margin-right: 0;
  }
  
  .full-width {
    width: 100%;
  }
.content1{
    color: white;
    background-color: black;
}