<div class="container">
    <div class="top-container">
        <div class="line" [chart]="lineChart1"></div>
        <div class="line" [chart]="lineChart2"></div>
    </div>
    <div class="bottom-container">
        <div class="box">
            <div class="bar-chart" [chart]="barChart"></div>
        </div>
        <div class="box">
            <div class="recommanded-products">
                <div class="product-item">
                    <img src="image1.jpg" alt="Product 1">
                    <div class="product-details">
                        <p class="name">Product Name 1</p>
                        <p class="price">$100</p>
                    </div>
                </div>
                <div class="product-item">
                  <img src="image1.jpg" alt="Product 1">
                  <div class="product-details">
                      <p class="name">Product Name 1</p>
                      <p class="price">$100</p>
                  </div>
              </div>
              <div class="product-item">
                <img src="image1.jpg" alt="Product 1">
                <div class="product-details">
                    <p class="name">Product Name 1</p>
                    <p class="price">$100</p>
                </div>
            </div>
            <div class="product-item">
              <img src="image1.jpg" alt="Product 1">
              <div class="product-details">
                  <p class="name">Product Name 1</p>
                  <p class="price">$100</p>
              </div>
          </div>
            </div>
        </div>
    </div>
</div>