
<div class="container-fluid page">
    <div class="page__box p-3 mt-2"> Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absloute text-center">
        <div class="line" [chart]="lineChart"></div>
        <br>
        <div class="bottom-containar">
            <div class="box">
        <div class="pie" [chart]="pieChart"></div>
            </div>
            <div class="box">
        <div class="recommanded-products">
            <div class="product-item">
                <img src="image1.jpg" alt="Product 1">
                <div class="product-details">
                  <p class="name">Product Name 1</p>
                  <p class="price">$100</p>
                </div>
              </div>
              <div class="product-item">
                <img src="image2.jpg" alt="Product 2">
                <div class="product-details">
                  <p class="name">Product Name 2</p>
                  <p class="price">$150</p>
                </div>
              </div>
              <div class="product-item">
                <img src="image3.jpg" alt="Product 3">
                <div class="product-details">
                  <p class="name">Product Name 3</p>
                  <p class="price">$200</p>
                </div>
              </div>
        </div>
    </div>
    <div class="box">
        <div class="recent-purchases">
            <div class="product-item">
                <img src="image1.jpg" alt="Product 1">
                <div class="product-details">
                  <p class="name">Product Name 1</p>
                  <p class="price">$100</p>
                </div>
              </div>
              <div class="product-item">
                <img src="image2.jpg" alt="Product 2">
                <div class="product-details">
                  <p class="name">Product Name 2</p>
                  <p class="price">$150</p>
                </div>
              </div>
              <div class="product-item">
                <img src="image3.jpg" alt="Product 3">
                <div class="product-details">
                  <p class="name">Product Name 3</p>
                  <p class="price">$200</p>
                </div>
              </div>
        </div>
        </div>
        </div>
    </div>
</div>
</div>