  <div class="container">
      <div class="top-container">
          <div class="line" [chart]="lineChart"></div>
      </div>
      <div class="bottom-container">
          <div class="box">
              <div class="recommanded-products">
               <p class="Text-up"> Recommended products</p>
                  <div class="product-item">
                      <img src="https://5.imimg.com/data5/ANDROID/Default/2023/2/XP/IA/VL/126011632/product-jpeg-500x500.jpg" alt="Product 1">
                      <div class="product-details">
                          <p class="name">Jamun </p>
                          <p class="price">78 TND</p>
                      </div>
                  </div>
                  <div class="product-item">
                    <img src="https://m.media-amazon.com/images/I/71-kA6-obHL.jpg" alt="Product 1">
                    <div class="product-details">
                        <p class="name">Herboganic</p>
                        <p class="price">39 TND</p>
                    </div>
                </div>
                <div class="product-item">
                  <img src="https://advancehealthwellness.com/images/products/s2.png" alt="Product 1">
                  <div class="product-details">
                      <p class="name">Melatonin</p>
                      <p class="price">50 TND</p>
                  </div>
              </div>
              <div class="product-item">
                <img src="https://advancehealthwellness.com/images/products/s1.png" alt="Product 1">
                <div class="product-details">
                    <p class="name">IMMUNE BOOST</p>
                    <p class="price">100 TND</p>
                </div>
            </div>
              </div>
          </div>
          <div class="box">
              <div class="recent-purchases">
                <p class="Text-up"> Recent Purchases</p>
                  <div class="product-item">
                      <img src="https://www.nowfoods.com/sites/default/files/styles/xxl_container_33/public/2021-11/Supplements_Category_Homepage.jpg?itok=uSSy6U9Y" alt="Product 1">
                      <div class="product-details">
                          <p class="name">Vitamin suppliment</p>
                          <p class="price">17 TND</p>
                      </div>
                  </div>

                <div class="product-item">
                  <img src="https://transformlbk.com/cdn/shop/products/image_d242d838-11eb-4bbe-994a-16281b426bdf_2048x.png?v=1615325283" alt="Product 1">
                  <div class="product-details">
                      <p class="name">BURN</p>
                      <p class="price"> 66 TND</p>
                  </div>
              </div>
              <div class="product-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzW6stmKVDaXivbUD7yyNo2aIi7p3NrbTZj6pnCkH3GGktONvjVOdcZBUxv23rA2RL43o&usqp=CAU" alt="Product 1">
                <div class="product-details">
                    <p class="name">Bee Choo</p>
                    <p class="price">88 TND</p>
                </div>
            </div>
            <div class="product-item">
              <img src="https://m.media-amazon.com/images/I/310HJ8DxmDL._AC_UF1000,1000_QL80_.jpg" alt="Product 1">
              <div class="product-details">
                  <p class="name">Baidyanath</p>
                  <p class="price">99 TND</p>
              </div>
          </div>
              </div>
          </div>
          <div class="box">
            <p class="Text-up"> TOP 4 Purchases Category </p>
            <div class="pie" [chart]="pieChart"></div>
        </div>
      </div>
  </div>