  <div class="container">
      <div class="top-container">
          <div class="line" [chart]="lineChart"></div>
      </div>
      <div class="bottom-container">
          <div class="box">
              <div class="recommanded-products">
                  <div class="product-item">
                      <img src="image1.jpg" alt="Product 1">
                      <div class="product-details">
                          <p class="name">Product Name 1</p>
                          <p class="price">$100</p>
                      </div>
                  </div>
                  <div class="product-item">
                    <img src="image1.jpg" alt="Product 1">
                    <div class="product-details">
                        <p class="name">Product Name 1</p>
                        <p class="price">$100</p>
                    </div>
                </div>
                <div class="product-item">
                  <img src="image1.jpg" alt="Product 1">
                  <div class="product-details">
                      <p class="name">Product Name 1</p>
                      <p class="price">$100</p>
                  </div>
              </div>
              <div class="product-item">
                <img src="image1.jpg" alt="Product 1">
                <div class="product-details">
                    <p class="name">Product Name 1</p>
                    <p class="price">$100</p>
                </div>
            </div>
            <div class="product-item">
              <img src="image1.jpg" alt="Product 1">
              <div class="product-details">
                  <p class="name">Product Name 1</p>
                  <p class="price">$100</p>
              </div>
          </div>
              </div>
          </div>
          <div class="box">
              <div class="recent-purchases">
                  <div class="product-item">
                      <img src="image1.jpg" alt="Product 1">
                      <div class="product-details">
                          <p class="name">Product Name 1</p>
                          <p class="price">$100</p>
                      </div>
                  </div>
                  <div class="product-item">
                    <img src="image1.jpg" alt="Product 1">
                    <div class="product-details">
                        <p class="name">Product Name 1</p>
                        <p class="price">$100</p>
                    </div>
                </div>
                <div class="product-item">
                  <img src="image1.jpg" alt="Product 1">
                  <div class="product-details">
                      <p class="name">Product Name 1</p>
                      <p class="price">$100</p>
                  </div>
              </div>
              <div class="product-item">
                <img src="image1.jpg" alt="Product 1">
                <div class="product-details">
                    <p class="name">Product Name 1</p>
                    <p class="price">$100</p>
                </div>
            </div>
            <div class="product-item">
              <img src="image1.jpg" alt="Product 1">
              <div class="product-details">
                  <p class="name">Product Name 1</p>
                  <p class="price">$100</p>
              </div>
          </div>
              </div>
          </div>
          <div class="box">
            <div class="pie" [chart]="pieChart"></div>
        </div>
      </div>
  </div>