:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aliceblue;
}
mat-drawer{
    width: 260px;
    background: #325D79;
}
mat-drawer-container{
    height: 100%;
}

