<div class="container-fluid page">
    <div class="page__box p-3 mt-2"> Order History</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absloute">
            <table>
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Value</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>Delivered On</th>
                    <th>E-Receipt</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders">
                    <td>{{ order.orderId }}</td>
                    <td>{{ order.value | currency }}</td>
                    <td>{{ order.discount }}</td>
                    <td>{{ order.total | currency }}</td>
                    <td>{{ order.deliveredOn | date }}</td>
                    <td>{{ order.eReceipt ? 'Yes' : 'No' }}</td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
</div>