<div class="container">
  <h2>Sign In</h2>
  <form (ngSubmit)="login()">
    <div>
      <input type="text" id="email" name="email" placeholder="Email" [(ngModel)]="email" required>
    </div>
    <div>
      <input type="password" id="password" name="password"placeholder="Password" [(ngModel)]="password" required>
    </div>
    <div class="form-bottom">
      <div class="remember-me">
        <input type="checkbox" id="remember" name="remember">
        <label for="remember">Remember me</label>
      </div>
      <div class="forget-password">
        <a href="forgot-password.html">Forget password?</a>
      </div>
    </div>
    <button (click)="login()" type="submit" class="full-width">Login</button>
    <p class="register-link">Don't have an account? <a href="register.html"><b>Join us</b></a>.</p>
  </form>
</div>
<app-main-footer></app-main-footer>