<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/mnm.png" alt="The mnm company logo">
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader >Options</h2>
    <a mat-list-item routerLink="/Dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/OrderHistory" routerLinkActive="list-item-active">
        <mat-icon>shopping_cart</mat-icon> Order History
    </a>
    <a mat-list-item routerLink="/MedicalData" routerLinkActive="list-item-active">
        <mat-icon>local_hospital</mat-icon> Medical Data
    </a>
    <a mat-list-item routerLink="/Settings" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon> Settings
    </a>
    <a mat-list-item routerLink="/OurAdvise" routerLinkActive="list-item-active">
        <mat-icon>style</mat-icon> Our Advise
    </a>

</mat-nav-list>